@{
    ViewBag.Title = "Home";
}
<div class="row">
    <img src="~/App_Themes/baner.png" alt="landscape" class="img-landing-page" />
</div>
<div class="container">    
    <div class="card card-main-page">
        <div class="card-content text-center">
            <h4>Get the best tips on your vacation</h4>
            <div class="row">
                <div class="col-md-4">
                    <a href="/articles">
                        <div class="card card-nav">
                            <div class="card-content img-cont">
                                <img src="/App_Themes/pirin.jpg" class="img-responsive" alt="Alternate Text" />
                            </div>
                            <div class="card-content text-center nav-text">
                                <p>Pirin</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/blog/gallery">
                        <div class="card card-nav">
                            <div class="card-content img-cont">
                                <img src="/App_Themes/rila.jpg" class="img-responsive" alt="Alternate Text" />
                            </div>
                            <div class="card-content text-center nav-text">
                                <p>Rila</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/store/storeitems">
                        <div class="card card-nav">
                            <div class="card-content img-cont">
                                <img src="~/App_Themes/rodopi.jpg" class="img-responsive" alt="Alternate Text" />
                            </div>
                            <div class="card-content text-center nav-text">
                                <p>Rodopi</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>